/* 
- dark green - #1C2A2C
- footer dark - #24282B
- font-family: 'Raleway', sans-serif;
- 300 400 500 900 (normal and italic)

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TEMP STYLES */

/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220, 220, 220)
}

html,
body {
    border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    border: 1px solid rgb(86, 64, 64)
}

.bg-image {
    background-color: rgb(184, 184, 132);
} */

/* END TEMP STYLES */

/* UNVIERSAL AND UTILITY STYLES */

.tall-50    {min-height: 50vh;}
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80    {min-height: 80vh;}
.tall-90    {min-height: 90vh;}


.padded     {padding: 5%;}
.padded-lg  {padding: 10%;}
.padded-1   {padding: 1rem;}
.padded-2   {padding: 2rem;}

.margin-b-0 {margin-bottom: 0;}

.bg-featured {background-color: #1C2A2C; }
.bg-dark     {background-color: #24282B; }



/* TYPOGRAPHY STYLES */

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 {font-size: 8rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 1.8rem;}

p, li {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

p:last-child,
li:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: #158287;
}

.fa-brands {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.light-text {color: white;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.not-bold {font-weight: 400;}

.subtle {
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
}

/* BACKGROUND IMAGES */

.bg-image {
    background-color: #24282B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/the-bunker-bed.jpg');
}

.bg-building {
    background-image: url('/images/the-bunker-building.jpg');
}

.bg-chairs {
    background-image: url('/images/the-bunker-chairs.jpg');
}

.bg-hall {
    background-image: url('/images/the-bunker-hall.jpg');
}

.bg-lounge {
    background-image: url('/images/the-bunker-lounge.jpg');
}

.bg-map {
    background-image: url('/images/the-bunker-map.png');
}

.bg-sheets {
    background-image: url('/images/the-bunker-sheets.jpg');
}

.bg-padded {
    padding-bottom: 30%
}

/* BACKGROUND POSITIONS */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

.bg-pos-t-l { background-position: 10% 10%; }
.bg-pos-b-r { background-position: 85% 85%; }


.gallery [class*="col-"] {
  padding: 1%;
}

/* FOOTER STYLES */

footer h2 {
    font-size: 6rem;
    line-height: 1;
}

footer p {
    margin-bottom: 0.2rem;
}